<div class="modal fade" id="load-program-modal" tabindex="-1" aria-labelledby="load-program-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-0 border-dark" style="border-width: 2px !important;">
            <div class="modal-header bg-light rounded-0">
                <h5 class="modal-title fw-bold" id="load-program-modal-label">Načíst program</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="program-file-select" class="form-label">Vyberte program:</label>
                    <select class="form-select rounded-0" id="program-file-select" aria-label="Výběr souboru s programem">
                        <option selected disabled>Načítání seznamu souborů...</option>
                    </select>
                </div>

                <div>
                    <label for="program-file-preview" class="form-label">Obsah programu:</label>
                    <textarea class="form-control rounded-0" id="program-file-preview" rows="10"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-between rounded-0">
                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Zrušit</button>
                <button type="button" class="btn btn-dark rounded-0" id="confirm-load-file-button">Načíst vybraný</button>
            </div>
        </div>
    </div>
</div>

{{ macro_programs|json_script:"macro-program-list-data" }}
{{ micro_programs|json_script:"micro-program-list-data" }}

<input type="hidden" id="macro-programs-base-url-src" value="{{ macro_programs_base_url }}">
<input type="hidden" id="micro-programs-base-url-src" value="{{ micro_programs_base_url }}">