<div class="modal fade" id="turing-program-modal" tabindex="-1" aria-labelledby="turing-program-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content rounded-0 border-dark" style="border-width: 2px !important;">
            <div class="modal-header bg-light rounded-0">
                <h5 class="modal-title fw-bold" id="turing-program-modal-label">Přechodová funkce Turingova stroje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavřít"></button>
            </div>

            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <div id="turing-full-program-latex"
                     class="flex-grow-1 rounded-0 border p-3 bg-white"
                     style="min-height: 20em; max-height: 60vh; overflow-y: auto; white-space: pre-wrap;">
                </div>
            </div>

            <div class="modal-footer justify-content-end rounded-0">
                <button type="button" class="btn btn-dark-hover text-white rounded-0" data-bs-dismiss="modal">
                    Zavřít
                </button>
            </div>
        </div>
    </div>
</div>
