{% extends 'base.html' %}

{% block content %}
<div class="row flex-grow-1 g-0">
    <div class="col-6 border-end border-dark d-flex flex-column p-3 h-100" style="border-width: 3px;">
        <h2 class="text-center">Stroj RAM</h2>
        <div class="card border rounded-0 mb-3">
            <div class="card-header bg-light fw-bold">Řídící jednotka</div>
            <div class="card-body d-flex align-items-center ">
                <div class="fw-bold me-3 inline-scroll" style="width: 70px;" id="ram-ip">IP: 4</div>
                <div class="flex-grow-1 bg-body-secondary border p-1 math-scroll" id="ram-instruction">R2 := [R5]</div>
                <button class="btn play-btn d-flex align-items-center justify-content-center p-0" id="ram-step-button">
                    <span class="play-icon"></span>
                </button>
            </div>
        </div>

        <div class="card border rounded-0 mb-3" id="ram-memory">
            <div class="card-header bg-light fw-bold">Registry</div>
            <div class="card-body" id="ram-memory-registers">
                <div class="d-flex align-items-center mb-2">
                    <div class="fw-bold me-3" style="width: 30px;">A:</div>
                    <div class="flex-fill border p-1" id="ram-memory-a">0</div>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="fw-bold me-3" style="width: 30px;">B:</div>
                    <div class="flex-fill border p-1 register-value" id="ram-memory-b">0</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="fw-bold me-3" style="width: 30px;">C:</div>
                    <div class="flex-fill border p-1 register-value" id="ram-memory-c">0</div>
                </div>
            </div>

            <div class="card-header bg-light fw-bold text-start border-bottom border-top">Hlavní paměť</div>
            <div class="card-body">
                <div class="d-flex text-center" id="ram-memory-m">
                    <button class="scroll-btn left" id="ram-memory-m-left"></button>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">0</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">1</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">2</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">3</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">4</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">5</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">6</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <div class="flex-fill border p-1 d-flex flex-column memory-item">
                        <div class="fw-bold border-bottom flex-grow-1 pb-1 pt-1 memory-item-address">7</div>
                        <div class="flex-grow-1 pb-1 pt-1 memory-item-value">0</div>
                    </div>
                    <button class="scroll-btn right" id="ram-memory-m-right"></button>
                </div>
            </div>

            <div class="card-header bg-light fw-bold border-bottom border-top">Vstup/Výstup</div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-2" id="ram-memory-i">
                    <div class="fw-bold me-3" style="width: 30px;">I:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="ram-memory-i-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="ram-memory-i-right"></button>
                    </div>
                </div>
                <div class="d-flex align-items-center" id="ram-memory-o">
                    <div class="fw-bold me-3" style="width: 30px;">O:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="ram-memory-o-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="ram-memory-o-right"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border rounded-0 mb-3 flex-grow-1 d-flex flex-column">
            <div class="card-header bg-light fw-bold">Program</div>
            <div class="card-body d-flex gap-3 flex-grow-1" id="ram-programs">
                <div class="d-flex flex-column flex-fill">
                    <div class="fw-bold mb-2">Makro RAM</div>
                    <div class="flex-grow-1 rounded-0 border p-2 bg-white program-content" id="ram-program-macro">
                    </div>
                    <div class="mt-2 row gx-2">
                        <div class="col">
                            <button class="btn btn-dark-hover text-white w-100 rounded-0" id="load-macro-button">Načíst program</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <div class="fw-bold mb-2">Mikro RAM</div>
                    <div class="flex-grow-1 rounded-0 border p-2 bg-white program-content" id="ram-program-micro">
                    </div>
                    <div class="mt-2 row gx-2">
                        <div class="col">
                            <button class="btn btn-dark-hover text-white w-100 rounded-0" id="load-micro-button">Načíst program</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex flex-column p-3 border-start border-dark h-100" style="border-width: 3px;">
        <h2 class="text-center">Turingův stroj</h2>
        <input type="hidden" id="turing-sets-url-src" value="{{ turing_sets_url }}">
        <div class="card border rounded-0 mb-3">
            <div class="card-header bg-light fw-bold">Řídící jednotka</div>
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex align-items-center">
                    <div class="fw-bold me-3 inline-scroll" style="width: 70px;" id="turing-instruction-label">Pravidlo:</div>
                    <div class="flex-grow-1 bg-body-secondary border p-1 math-scroll" id="turing-instruction"></div>
                    <button class="btn play-btn d-flex align-items-center justify-content-center p-0"
                            id="turing-step-button">
                        <span class="play-icon"></span>
                    </button>
                </div>
                <div class="d-flex flex-column">
                    <div class="fw-bold mb-1" id="turing-transition-label">Konkrétní očekávaný přechod:</div>
                    <div class="bg-body-secondary border p-1 math-scroll" id="turing-transition"
                         style="min-height: 2rem;"></div>
                </div>
            </div>
        </div>

        <div class="card border rounded-0 mb-3" id="turing-memory">
            <div class="card-header bg-light fw-bold">Pásky registrů</div>
            <div class="card-body " id="turing-memory-registers">
                <div class="d-flex align-items-center mb-2" id="turing-memory-a">
                    <div class="fw-bold me-3" style="width: 30px;">A:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-a-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-a-right"></button>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2" id="turing-memory-b">
                    <div class="fw-bold me-3" style="width: 30px;">B:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-b-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-b-right"></button>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-2" id="turing-memory-c">
                    <div class="fw-bold me-3" style="width: 30px;">C:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-c-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-c-right"></button>
                    </div>
                </div>

                <div class="d-flex align-items-center" id="turing-memory-t">
                    <div class="fw-bold me-3" style="width: 30px;">T:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-t-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-t-right"></button>
                    </div>
                </div>
            </div>

            <div class="card-header bg-light fw-bold border-bottom border-top">Páska hlavní paměti</div>
            <div class="card-body">
                <div class="d-flex align-items-center" id="turing-memory-m">
                    <div class="fw-bold me-3" style="width: 30px;">M:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-m-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-m-right"></button>
                    </div>
                </div>
            </div>

            <div class="card-header bg-light fw-bold border-bottom border-top">Vstup/Výstup</div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-2" id="turing-memory-i">
                    <div class="fw-bold me-3" style="width: 30px;">I:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-i-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-i-right"></button>
                    </div>
                </div>
                <div class="d-flex align-items-center" id="turing-memory-o">
                    <div class="fw-bold me-3" style="width: 30px;">O:</div>
                    <div class="d-flex flex-grow-1 text-center tape-contents">
                        <button class="scroll-btn left" id="turing-memory-o-left"></button>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <div class="flex-fill border p-1 tape-cell">
                            <div class="tape-item">□</div>
                        </div>
                        <button class="scroll-btn right" id="turing-memory-o-right"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border rounded-0 mb-3 flex-grow-1 d-flex flex-column">
            <div class="card-header bg-light fw-bold">Přechodová funkce vykonávané RAM instrukce</div>
            <div class="card-body d-flex flex-column flex-grow-1" id="turing-program-container">
                <div class="flex-grow-1 rounded-0 border p-2 bg-white program-content" id="turing-program">
                </div>
                <div class="mt-2 row gx-2">
                    <div class="col">
                        <button class="btn btn-dark-hover text-white w-100 rounded-0" id="show-compact-turing-program">
                            Zobrazit program ve zkráceném zápise
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-dark-hover text-white w-100 rounded-0" id="show-full-turing-program">
                            Zobrazit program v plném zápise
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}